# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\comp4107proj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

../out
